{% extends 'index.html' %} 
{% block titulo %} Ingreso de Libros {% endblock titulo %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h2>Registro/Edición de Libros</h2>
        </div>
        <form id="form_creacion" action="#" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div id="errores">
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">{{ form.titulo.label }}</div>
                    <div class="col-12 col-md-9">{{ form.titulo }}</div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">{{ form.autor_id.label }}</div>
                    <div class="col-12 col-md-9">{{ form.autor_id }}</div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">{{ form.fecha_publicacion.label }}</div>
                    <div class="col-12 col-md-9">{{ form.fecha_publicacion }}</div>
                </div>
                
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a class="btn btn-dark" href="{% url 'libro:listar_libro' %}">Cancelar</a>
            </div>
        </form>
    </div>

{% endblock body %} 