{% extends 'index.html' %} 
{% block titulo %} listado de Libros {% endblock titulo %}

{% block body %}

{% if libros %}
<h2>Libros Disponibles</h2><br>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Autor(es)</th>
                <th>Fecha de Publicación</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in libros %}
            
                <tr>
                    <td>{{ libro.id }}</td>
                    <td>{{ libro.titulo }}</td>
                    <td>
                        {% for autor in libro.autor_id.all %}
                        <li>{{ autor.nombre }}</li>
                        {% endfor %}
                    </td>
                    <td>{{ libro.fecha_publicacion }}</td>
                    <td><a class="btn btn-warning " href="{% url 'libro:editar_libro' libro.id %}">Editar</a></td>
                    <td><a class="btn btn-danger " href="{% url 'libro:eliminar_libro' libro.id %}">Eliminar</a></td>
                    <td><a class="btn btn-dark " href="{% url 'libro:desactivar_libro' libro.id %}">Desactivar</a></td>
                </tr>
            
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <h1>No existen libros registrados</h1>

{% endif %}

{% endblock body %}